.challenge {
  text-align: center;
  padding-top: 20px;
}

.challenge > p {
  margin-bottom: 30px;
}

.challenge-button {
  border: none;
  width: 90%;
  padding: 20px 0;
  margin: 20px 0;
  border-radius: 10px;
  background: #cecece;
  color: #727272;
  font-size: 15px;
}


.challenge-card {
  text-align: left;
  padding: 10px 30px 20px 30px;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.challenge-card-index {
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.challenge-card-content {
  padding-left: 10px;
}


.challenge-card-stats {
  padding-top: 5px;
  display: flex;
}

.challenge-card-stat {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.challenge-card-stat > * {
  margin-right: 5px;
}

.challenge-card-stat > img {
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.challenge a {
  text-decoration: none;
  color: #b3b300;
}
.challenge a:visited {
}
.challenge a:hover {
  color: #666600;
}

/* Challenge description content */

.challenge-description {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background: #e8e8e8;
  border-bottom: 1px solid #c4c4c4;
}

.challenge-description-header {
  display: flex;
  padding: 5px 0;
}

.challenge-description-header > div:nth-child(1) {
  border-right: 1px solid black;
}

.challenge-description-header > div {
  margin-right: 5px;
  padding-right: 5px;
}

@media all and (min-width: 800px) {
  .challenge {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .challenge > p {
    width: 100%;
  }

  .challenge > div {
    width: 40%;
    max-width: 400px;
  }

  .challenge > a {
    width: 80%;
  }
}
